

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu Sans", sans-serif; 
}

a{
    text-decoration: none;
}

body{
   background-image: url(../images/car-img.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

.car-shop--wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    backdrop-filter: blur(2px);
}

.container{
    max-width: 1400px;
    margin: 200px auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.menu-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.car-btn{
    background-color: azure;
    padding: 7px 25px;
    font-size: 22px;
    border: none;
    border-radius: 15px;
    transition: .2s all;
    &:hover{
        box-shadow: 0px 0px 10px rgb(255, 255, 255);
    }
    &:active{
        transform: scale(0.9);
    }
}

.add-car-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.input-item{
    display: flex;
    gap: 10px;
    color: #fff;
}

.car-label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    text-transform: capitalize;
}

.car-input{
    background: rgb(255,255,255,0.3);
    height: 35px;
    line-height: 35px;
    border-radius: 15px;    
    padding-inline:15px ;
    border: none;
    color: #fff;
    outline: none;
    &:hover{
        box-shadow: 0px 0px 5px #fff;
    }
}

.btn-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-add-form{
    background-color: azure;
    padding: 7px 25px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    transition: .2s all;
    &:hover{
        box-shadow: 0px 0px 15px rgb(255, 255, 255);
    }
    &:active{
        transform: scale(0.9);
    }
}


.delete-car-form, .search-car-form ,.sort-car-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.car-group{
    display: grid;
    grid-template-columns: repeat(7 ,1fr);
    gap: 20px;
    color: #fff;
    font-size: 16px;
}

.group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sort-btn-item{
    display: flex;
    align-items: center;
    gap: 20px;

}


.delete-car-form{
    display: none;
}

.search-car-form{
    display: none;
}

.add-car-form{
    display: none;
}

.sort-car-item{
    display: none;
    
}

.menu-list{
    display: none;
}

.car-header-btn{
    background-color: azure;
    padding: 7px 35px;
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    transition: .2s all;
    &:hover{
        box-shadow: 0px 0px 40px rgb(93, 93, 93);
        background-color: rgb(81, 81, 81);
        color: #fff;
        transform: scale(1.2);

    }
    &:active{
        transform: scale(0.9);
        
    }
}

.bi-arrow-right{
    font-size: 24px;
}


.show{
    display: flex;
}

.hide{
    display: none;
}

